.sloupce {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.obrazek {
    width: 33%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}