body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #ffffff;
}

header {
    background-color: #b30000;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: center; /* Vycentrování navigace */
    align-items: center;
    background-color: #333;
    padding: 15px 0;
}

.navbar ul {
    display: flex;
    gap: 20px; /* Vzdálenost mezi položkami */
    list-style: none;
    padding: 0;
}

.navbar ul li {
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px; /* Zvýšení velikosti písma */
}

.navbar ul li:hover {
    background-color: #555;
}

/* Okraje po stranách */
.container {
    max-width: 1200px; /* Maximální šířka obsahu */
    margin: 0 auto; /* Vycentrování */
    padding: 0 50px; /* Okraje po stranách */
}
