body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

/* Přidání lehce šedých okrajů */
main {
    max-width: 800px;
    width: 90%;
    background-color: #2e2e2e;
    border: 5px solid #3a3a3a; /* Lehká šedá barva */
    border-radius: 10px;
    padding: 20px;
}

header {
    background-color: #b30000;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 5px;
    border: 2px solid #3a3a3a; /* Lehce šedý okraj */
}
